@model MyTe.Models.Entities.LancamentoDeHora

@{
    ViewData["Title"] = "Remover Hora";
}

<body class="remover">
<div style="text-align: center;">

<h2>Tem ceteza que deseja remover a hora registrada?</h2>
<div class="mt-4">   
    <form asp-action="RemoverHora">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sim, remover" class="btn btn-danger" /> |
        <a asp-action="ListarHoras" class="btn btn-primary">Não, voltar para a lista</a>
    </form>
</div>
</div>
</body>